extends layout

block pagecss
  link(rel="stylesheet", href="/css/stats.css")
  link(rel="stylesheet", href="/css/export.css")

block content
  .statsbasicmenu
    h1 Export Reports

    //- Previous Version
      div.btn-group
        button.btn.btn-default.btn-lg.dropdown-toggle(data-toggle="dropdown") Report Type 
          span.caret
        ul.dropdown-menu(role="menu")
          li
            a(href="#member", id="member") Tnaba state monthly membership report
          li
            a(href="#monthly", id="monthly") Tnaba event monthly report
      br
      button.btn-primary.btn-lg() Download Report
    h4 Select a month
    select.form-control(id="month")
      option(value="0") January
      option(value="1") February
      option(value="2") March
      option(value="3") April
      option(value="4") May
      option(value="5") June
      option(value="6") July
      option(value="7") August
      option(value="8") September
      option(value="9") October
      option(value="10") November
      option(value="11") December
    p#year

    h4 Select a report type to generate. 
    h4(id="selected") No report type selected.
    div.btn-group-vertical
      button.btn.btn-default(type="button", id="membership") Tnaba state monthly membership report
      button.btn.btn-default(type="button", id="event") Tnaba event monthly report

    br
    h4.notReady#downloadLabel Choose a file format:
    button.btn.btn-primary.btn-lg(id="download", class="notReady") XLSX 
    button.btn.btn-primary.btn-lg(id="downloadPDF", class="notReady") PDF
    button.btn.btn-primary.btn-lg(id="downloadXLS", class="notReady") XLSX2
    div(id="loading")
      p 
        strong Please wait
      img(src="/img/ajax-loader.gif")

block pagejavascript
  script(src="/js/export.js")

