extends layout

block pagecss
  link(rel="stylesheet", href="css/home.css")

block content
  .jumbotron
    h1 Reports Generator
    p TNABA statistics and membership reporter.
    h4 Important: This application is being actively developed. If you notice any bugs/unexpected behavior
      | with the site, errors in the generated reports, or have suggestions on improvements
      | please send details to the administrator of this project 
      a(href="mailto:mzhang@mcgrathsolutions.org") here. 
    a.btn.btn-lg.btn-success(href="stats", role="button") Get Started