extends layout

block pagecss
  link(rel="stylesheet", href="css/home.css")

block content
  .jumbotron
    h1 Statistics Manager
    p Simple, easy to manage user statistics all in one place. 
    button.btn.btn-lg.btn-success(href="#" role="button") Get Started