extends layout

block pagecss
  link(rel="stylesheet", href="css/home.css")

block content
  .jumbotron
    h1 Reports Manager
    p Simple, easy to manage user statistics all in one place. 
    a.btn.btn-lg.btn-success(href="/stats", role="button") Get Started