doctype html
html
  head
    title= title
    // bower:css
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    // endbower

    link(rel='stylesheet', href='/css/layout.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block pagecss
  body
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
          a.navbar-brand(href="/") Statistics Manager
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            - if (user) {
              li
                a(href="/stats/users/#{user.attributes.uid}") #{user.attributes.name}'s Home
              li 
                a(href="/logout") Logout
              li 
                a(href="/stats") Statistics Panel
            - } else {
              li
                a(href="/") Home
              li
                a(href="/login") Login
            - }
            
    .container
      .container
        - if (messages) {
          each message in messages
            div(class="alert alert-#{message.type}")= message.message
        - }

      block content

    // bower:js
    script(src='/jquery/dist/jquery.js')
    script(src='/bootstrap/dist/js/bootstrap.js')
    script(src='/angular/angular.js')
    // endbower

    block pagejavascript