doctype html
html
  head
    title= title
    // bower:css
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.css')
    // endbower

    block pagecss
  body
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
          a.navbar-brand(href="/") Statistics Manager
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="/") Home
            li
              a(href="/login") Login

    .container
      block content

    // bower:js
    script(src='jquery/dist/jquery.js')
    script(src='bootstrap/dist/js/bootstrap.js')
    // endbower