doctype html
html
  head
    title= title
    // bower:css
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower

    link(rel='stylesheet', href='/css/layout.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block pagecss
  body
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
          a.navbar-brand(href="/") Reports Generator
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            - if (user) {
              li
                a(href="/stats/users/#{user.id}") #{user.firstName}
              li 
                a(href="/stats") Reports Panel
              li
                a(href="http://104.131.37.246/") MyTNABA home
              li 
                a(href="/logout") Logout
            - } else {
              li
                a(href="http://104.131.37.246/") MyTNABA home
              li
                a(href="/login") Login
            - }
            
    .container
      .container
        - if (messages) {
          each message in messages
            div(class="alert alert-#{message.type}")= message.message
        - }

      block content

    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/reports-generator/dist/compiled-generator.min.js')
    script(src='/bower_components/requirejs/require.js')
    // endbower

    block pagejavascript