#download {
  display: inline-block;
  margin-top: 10px;
}

#downloadXLS {
  display: inline-block;
  margin-top: 10px;
}

#downloadPDF {
  display: inline-block;
  margin-top: 10px;
}

#downloadXLS.notReady, #download.notReady, #downloadPDF.notReady, #downloadLabel.notReady {
  display: none;
}

#month {
  position: relative;
  max-width: 150px;
  margin: 0 auto;
  display: inline;
}

#year {
  display: inline;
  font-weight: bold;
}